package net.lenni0451.commons.functional.consumer;

@FunctionalInterface
public interface {{prefix}}Consumer {

    void accept(final {{type}} value);

    default {{prefix}}Consumer andThen(final {{prefix}}Consumer after) {
        return value -> {
            this.accept(value);
            after.accept(value);
        };
    }

}
